.container {
	padding: 20px;
	box-sizing: border-box;
}
.form_head {
	height: 40px;
	background: #afdf8c;
	margin-top: 20px;
	padding-left: 10px;
	font-size: 16px;
	box-sizing: border-box;
	font-weight: bold;
	line-height: 40px;
}
.container .add_table{
	border:1px solid #579f23;
	width: 100%;
	border-collapse: collapse;
}
.container .add_table tr td{
	border:1px solid #579f23;
}

.container .add_table tr th {
	width: 154px;
	font-size: 18px;
	height: 34px;
	border:1px solid #579f23;
}
.container .add_table .title {
	width: 100%;
	height: 32px;
}
.container .add_table .title input {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 18px;
}
.container .add_table .content {
	height: 408px;
}
.container .add_table .area .big_area {
	width: 200px;
	height: 34px;
}
.container .add_table .area .big_area select{
	width: 100%;
	height: 100%;
	outline: none;
	border: 1px  solid #579f23;
}
.container .add_table .area .small_area {
	margin-left: 10px;
	width: 200px;
	height: 34px;
}
.container .add_table .area .small_area select {
	width: 100%;
	height: 100%;
	outline: none;
	border: 1px  solid #579f23;
}
.container .add_table .score {
	padding: 10px;
	font-size: 14px;
}
.container .add_table .score input {
	width: 50px;
	height: 30px;
	border:1px solid #579f23;

}
.container .add_table .btn {
	height: 50px;
	width: 600px;
	line-height: 50px;
}
.container .add_table .btn .submit{
	width: 120px;
	height: 30px;
}
.container .add_table .btn .submit input {
	width: 120px;
	height: 30px;
	background: #579f23;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
}
.container .add_table .btn .submit input:hover {
	color: #4c4c4c;
}
.container .add_table .btn .cancel{
	width: 120px;
	height: 30px;
	margin-left: 20px;
}
.container .add_table .btn .cancel input {
	width: 100%;
	height: 100%;
	background: #579f23;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	color: #fff;
}
.container .add_table .btn .cancel input:hover {
	color:#4c4c4c;
}
.container .add_table .warn {
	border: 1px solid #cccccc;
}
.container .add_table .warn ul li {
	height: 42px;
	font-size: 16px;
	line-height: 42px;
}