
.width10 { width: 10px; }
.width20 { width: 20px; }
.width30 { width: 30px; }
.width40 { width: 40px; }
.width50 { width: 50px; }
.width60 { width: 60px; }
.width70 { width: 70px; }
.width80 { width: 80px; }
.width90 { width: 90px; }
.width100 { width: 100px; }
.width110 { width: 110px; }
.width120 { width: 120px; }
.width130 { width: 130px; }
.width140 { width: 140px; }
.width150 { width: 150px; }
.width160 { width: 160px; }
.width170 { width: 170px; }
.width180 { width: 180px; }
.width190 { width: 190px; }
.width200 { width: 200px; }
.width210 { width: 210px; }
.width220 { width: 220px; }
.width230 { width: 230px; }
.width240 { width: 240px; }
.width250 { width: 250px; }
.width260 { width: 260px; }
.width300 { width: 300px; }