
.width10 { width: 10px!important; }
.width20 { width: 20px!important; }
.width30 { width: 30px!important; }
.width40 { width: 40px!important; }
.width50 { width: 50px!important; }
.width60 { width: 60px!important; }
.width70 { width: 70px!important; }
.width80 { width: 80px!important; }
.width90 { width: 90px!important; }
.width100 { width: 100px!important; }
.width110 { width: 110px!important; }
.width120 { width: 120px!important; }
.width130 { width: 130px!important; }
.width140 { width: 140px!important; }
.width150 { width: 150px!important; }
.width160 { width: 160px!important; }
.width170 { width: 170px!important; }
.width180 { width: 180px!important; }
.width190 { width: 190px!important; }
.width200 { width: 200px!important; }
.width210 { width: 210px!important; }
.width220 { width: 220px!important; }
.width230 { width: 230px!important; }
.width240 { width: 240px!important; }
.width250 { width: 250px!important; }
.width260 { width: 260px!important; }
.width300 { width: 300px!important; }

.line_height39 { height: 39px; line-height: 39px; padding: 0; }
.icon-demo-list li.active { color: #3498db; border: 1px solid #3498db; }