.container {
	height: 460px;
}
.container .c_content {
	height: 410px;
	width: 454px;
	background: #ffffff;
	margin: 0 auto;
	margin-top: 22px;
	border-radius: 5px;
	box-shadow:0 0 20px #666;
	
}
.c_content .title {
	height: 80px;
	line-height: 80px;
	font-weight: 700;
	font-family: "微软雅黑";
	font-size: 30px;
	color: #cccccc;
	padding-left: 22px;
}
.c_content .title span {
	font-size: 14px;
	color: #579f23;
	margin-left: 130px;
}
.c_content .title span a{
	color: #579f23;
}
.c_content .name {
	height: 46px;
	width: 408px;
	border: 1px solid #579f23;
	border-radius:10px 10px 10px 10px;
	margin: 0 auto;
	margin-top: 12px;
}
.c_content .name .name_logo {
	height: 46px;
	width: 46px;
	border-right: none;
	background: url(../image/logo_name.png);
}
.c_content .name .name_c {
	height: 46px;
	width: 360px;
	border-radius:0px 10px 10px 0px;
}
.c_content .name .name_c input {
	width: 100%;
	height: 100%;
	font-size: 20px;
	padding-left: 10px;
	box-sizing: border-box;
	border-radius:0px 10px 10px 0px;
	border: none;
	outline:none; 
}
.c_content .password {
	height: 46px;
	width: 408px;
	border: 1px solid #579f23;
	border-radius:10px 10px 10px 10px;
	margin: 0 auto;
	margin-top: 12px;
}
.c_content .password .password_logo {
	height: 46px;
	width: 46px;
	border-right: none;
	background: url(../image/logo_password.png);
}
.c_content .password .password_c {
	height: 46px;
	width: 360px;
	border-radius:0px 10px 10px 0px;
}
.c_content .password .password_c input {
	width: 100%;
	height: 100%;
	font-size: 20px;
	padding-left: 10px;
	box-sizing: border-box;
	border-radius:0px 10px 10px 0px;
	border: none;
	outline:none;
}
.c_content .login_btn {
	height: 46px;
	width: 408px;
	border: 1px solid #579f23;
	border-radius:10px 10px 10px 10px;
	margin: 0 auto;
	margin-top: 6px;
}
.c_content .login_btn button {
	width: 100%;
	height: 100%;
	border-radius:10px 10px 10px 10px;
	border: none;
	outline:none;
	background: #579f23;
	font-size: 30px;
	color: #cccccc;
	padding-left: 22px;
	font-family: "微软雅黑";
	cursor: pointer;
}
.c_content .email {
	height: 46px;
	width: 408px;
	border: 1px solid #579f23;
	border-radius:10px 10px 10px 10px;
	margin: 0 auto;
}
.c_content .email .email_logo {
	height: 46px;
	width: 46px;
	border-right: none;
	background: url(../image/logo_email.png);
}
.c_content .email .email_c {
	height: 46px;
	width: 360px;
	border-radius:0px 10px 10px 0px;
}
.c_content .email .email_c input {
	width: 100%;
	height: 100%;
	font-size: 20px;
	padding-left: 10px;
	box-sizing: border-box;
	border-radius:0px 10px 10px 0px;
	border: none;
	outline:none;
}

.c_content .repassword {
	height: 46px;
	width: 408px;
	border: 1px solid #579f23;
	border-radius:10px 10px 10px 10px;
	margin: 0 auto;
	margin-top: 12px;
}
.c_content .repassword .repassword_logo {
	height: 46px;
	width: 46px;
	border-right: none;
	background: url(../image/logo_password.png);
}
.c_content .repassword .repassword_c {
	height: 46px;
	width: 360px;
	border-radius:0px 10px 10px 0px;
}
.c_content .repassword .repassword_c input {
	width: 100%;
	height: 100%;
	font-size: 20px;
	padding-left: 10px;
	box-sizing: border-box;
	border-radius:0px 10px 10px 0px;
	border: none;
	outline:none;
}